
<header class="p-4 text-bg-dark">
  <div class="header">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
       
        <li>
          <a [routerLink]="['/users']" class="header-link nav-link px-2 text-white">Prikaz korisnika</a>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark search-bar" placeholder="Search..."
          aria-label="Search" />
      </form>

      <div class="text-end">
        <button type="button" class="login-btn btn btn-outline-light me-2">
          <a [routerLink]="['/login']" class="nav-link px-2 text-white">Prijava</a>
        </button>
        <button type="button" class="logout-btn btn btn-secondary" (click)="onLogout()">
          Odjava
        </button>
      </div>
    </div>
  </div>
</header>


<!-- <header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <app-dropdown></app-dropdown>
        </li>
        <li>
          <a [routerLink]="['/storniranje']" class="nav-link px-2 text-white"
            >Storniranje</a
          >
        </li>
        <li>
          <a [routerLink]="['/users']" class="nav-link px-2 text-white"
            >Prikaz korisnika</a
          >
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-dark text-bg-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">
          <a [routerLink]="['/login']" class="nav-link px-2 text-white"
            >Prijavi se</a
          >
        </button>
        <button type="button" class="btn btn-secondary" (click)="onLogout()">
          Odjavi se
        </button>
      </div>
    </div>
  </div>
</header>
 -->